<article class="blog-post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	{% if index %}
		<h2 class="blog-post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
		{% include post/meta.html %}
		<div  itemprop="articleBody">		
			{{ content }}
		</div>
	{% else %}
		<h2 class="blog-post-title" itemprop="name"><a href="{{ page.url }}" itemprop="url">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h2>
		{% include post/meta.html %}
		<div  itemprop="articleBody">		
			{{ content }}
		</div>
	{% endif %}
	{% unless page.sharing == false %}
    	{% include post/sharing.html %}
	{% endunless %}
</article>
