<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p><a rel="me" href="http://stackoverflow.com/users/283930/iulian-margarintescu"><img src="http://stackoverflow.com/users/flair/283930.png" width="208" height="58" alt="profile for Iulian Margarintescu at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Iulian Margarintescu at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a></p>
    <p><a rel="me" href="http://careers.stackoverflow.com/iulian" title="My Careers 2.0 Profile"><img alt="Careers 2.0 Profile" src="http://cdn-careers.sstatic.net/careers/Img/logo-new.png" height="32/"></a></p>
    <p><a rel="me" href="http://ro.linkedin.com/pub/iulian-margarintescu/2b/52a/a43"><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif" border="0" alt="Iulian Margarintescu"></a></p>
    <p><a href="https://twitter.com/etishor" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @etishor</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p><iframe src="http://ghbtns.com/github-btn.html?user=etishor&type=follow&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="30"></iframe></p>
  </div>
</div>